name: build
on: pull_request
jobs:
  main:
    strategy:
      matrix:
        node:
          - 20
          - 22
          - 24
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: "${{ matrix.node }}"
          cache: npm
      - run: npm ci
      - run: npm run build
