name: publish
on:
  push:
    branches: [master]
jobs:
  main:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: "22"
          cache: npm
          registry-url: https://registry.npmjs.org
      - run: npm ci
      - name: Git configuration.
        run: |
          git config --global user.email bot@example
          git config --global user.name bot
      - name: Publish.
        run: |
          npm version patch
          git push --atomic --tags origin HEAD
          npm publish
        env:
          NODE_AUTH_TOKEN: "${{ secrets.NPM_TOKEN }}"
